"*":
  "atom-beautify":
    _analyticsUserId: "dd7066f2-7d9f-4e73-a631-2ecafa2ffbe5"
    language_elm_beautify_on_save: true
  autosave: {}
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "vim-mode"
      "vim-mode-plus"
      "vim-mode-plus-ex-mode"
      "git-plus"
      "symbol-gen"
      "minimap"
      "ide-haskell"
    ]
  editor:
    backUpBeforeSaving: true
    confirmCheckoutHeadRevision: false
    fontFamily: "Fira Code"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "ec006c8e-b9f1-e96b-c121-42655a8828b4"
  "find-and-replace": {}
  "fuzzy-finder":
    searchAllPanes: true
  "git-plus": {}
  "haskell-ghc-mod":
    additionalPathDirectories: [
      "/Users/kuychaco/.cabal/bin/"
      "/usr/local/bin"
    ]
    enableGhcModi: false
  "ide-haskell-hasktags":
    hasktagsPath: "/Users/kuychaco/.local/bin/hasktags"
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  minimap: {}
  tabs: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
  whitespace: {}
